.header__container {
  padding-block: 2.4rem;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.logo {
  display: block;
  position: relative;
  width: 120px;
  height: 40px;
}
.contact-wrapper {
  display: none;
}

.contact-phone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav__mobile__bckgWrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 767px) {
  .header {
    border-bottom: 1px solid var(--clr-accent);
  }
}

@media (min-width: 768px) {
  .header__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .logo {
    width: 140px;
    height: 48px;
  }

  .logo__desktop {
    display: block;
  }

  .contact-wrapper {
    display: flex;
    gap: 1.6rem;
  }
}
