.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: white;
  box-shadow: 0px 10px 15px -20px var(--clr-primary);
}

.header__container {
  padding-block: 2.4rem;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  position: relative;
  width: 10rem;
  height: 4rem;
}

.nav__mobile__bckgWrapper {
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .header__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .logo {
    width: 14rem;
    height: 4.8rem;
  }
}

@media (max-width: 990px) {
  .header__content {
    flex-wrap: wrap;
    row-gap: 1.6rem;
  }
}

@media (min-width: 991px) {
  .header__content {
    position: relative;
  }
}