.searchInput__wrapper {
  flex: 1 1 100%;
  position: relative;
}

.searchInput__input {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-primary);
  border-radius: 2rem;
  transition: 0.5s all;
}

.searchInput__input::placeholder {
  text-align: center;
  color: inherit;
  line-height: 1;
}
.searchInput__input:focus {
  outline: none;
}

.search__list {
  width: 100%;
  padding-block: 1.2rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  background-color: white;
  border: 1px solid var(--clr-primary);
  border-top: 0;
  border-bottom-right-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  z-index: 1;
}

.search__item {
  padding: 1.2rem 2.4rem;
  transition: 0.3s all;
  border: 1px solid transparent;
}

.search__item:not(:last-child) {
  border-bottom: 1px solid var(--clr-primary);
}

.search__item--link {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
}

.search__item--thumbnail {
  width: 6rem;
  height: 6rem;
  position: relative;
}

.search__item--title {
  text-transform: uppercase;
}

@media (min-width: 991px) {
  .search__list {
    width: 75%;
  }
}
