.product__section {
  padding-block: 5rem;
}

.productPage__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
}

.button__back {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--clr-primary);
  border: 1px solid var(--clr-accent);
}

.product__wrapper {
  width: 100%;
  max-width: 768px;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  text-align: center;
  border: 1px solid var(--clr-primary);
  border-radius: 1rem;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.product__imgWrapper {
  position: relative;
  width: 320px;
  height: 280px;
}

.product__title {
  font-size: 2.4rem;
}

.product__title::first-letter {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .product__section {
    padding-block: 8rem;
  }

  .button__back {
    align-self: flex-start;
  }

  .product__wrapper {
    flex-direction: row;
    padding: 2rem;
    text-align: left;
  }

  .product__content {
    width: 50%;
  }
}

@media (min-width: 991px) {
  .button__back:hover {
    border-color: var(--clr-primary);
  }
}
