.product__section {
  padding-block: 5rem;
}

.productPage__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
}

.button__back {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--clr-primary);
  border: 1px solid var(--clr-accent);
}

.product__wrapper {
  width: 100%;
  max-width: 76.8rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  text-align: center;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
}

.product__imgWrapper {
  position: relative;
  width: 26rem;
  height: 26rem;
}

.product__img {
  object-fit: contain;
}
.product__content {
  max-width: 55ch;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.product__title {
  font-size: 3.2rem;
  color: var(--clr-primary);
}

.product__title::first-letter {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .product__section {
    padding-block: 8rem;
  }

  .button__back {
    align-self: flex-start;
  }

  .product__wrapper {
    padding: 2.4rem 2rem;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .product__content {
    width: 60%;
  }
}

@media (min-width: 991px) {
  .button__back:hover {
    border-color: var(--clr-primary);
  }
}
