.pagination__wrapper {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.pagination__btn {
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 100vw;
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  background-color: white;
  transition: .3s all;
}

.pagination__btn:hover {
  cursor: pointer;
}

.disabled {
  background-color: var(--clr-primary);
  color: white;

}