.product {
  padding: 1rem;
  border: 1px solid var(--clr-primary);
  border-radius: 1rem;
}

.product__image--wrapper {
  position: relative;
  width: 13rem;
  height: 13rem;
}

@media (min-width: 768px) {
  .product__image--wrapper {
    width: 30rem;
    height: 26rem;
  }
}
