.products__filters {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}

.filters__btnClose {
  padding: 1rem 2rem;
  position: relative;
  z-index: 999;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  background: var(--clr-accent);
}

.filters__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter__listBtn {
  display: flex;
  gap: 1rem;
}

.filter__btn {
  padding: 1.2rem;
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
}

.active {
  background: var(--clr-primary);
  color: white;
}

.filter__title {
  font-size: 1.6rem;
}

.filters__sublist {
  height: 0px;
  opacity: 0;
  transition: 0.1s all;
  flex-direction: column;
  display: none;
}

.filters__sublist[data-visible="true"] {
  height: auto;
  opacity: 1;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 991px) {
  .filters__wrapper[data-visible="true"] {
    translate: 0;
  }

  .filters__wrapper {
    position: fixed;
    inset: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 999;
    translate: 120%;
    transition: 0.5s all;
  }
  .filters__background {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .filters__list {
    height: 100%;
    width: 60%;
    z-index: 999;
    background: white;
    border: 1px solid var(--clr-primary);
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    overflow: hidden;
  }

  .filters__list > * {
    border-bottom: 1px solid var(--clr-primary);
  }
}

@media (min-width: 991px) {
  .filter__listBtn {
    display: none;
  }

  .filter__btn {
    padding: 1.2rem 2rem;
  }

  .filter__btn:focus {
    cursor: pointer;
  }

  .filters__btnClose {
    display: none;
  }

  .filters__wrapper {
    width: 100%;
  }

  .filters__list {
    padding: 1.2rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    border: 1px solid var(--clr-primary);
    border-radius: 100vw;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .filter__btn {
    white-space: nowrap;
    border-radius: 100vw;
  }

  .filter__btn:hover {
    background-color: var(--clr-primary);
    color: white;
    cursor: pointer;
  }

  .filters__sublist[data-visible="true"] {
    position: absolute;
    background: white;
    z-index: 999;
    top: 100%;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border: 1px solid var(--clr-primary);
  }

  .subFilter__btn {
    background: white;
    color: var(--clr-neutral-900);
  }

  .subFilter__btn.active {
    color: white;
    background-color: var(--clr-primary);
  }
  .visibleOverflow {
    overflow: visible;
  }
}
