.hero__section {
  border-bottom: 1px solid var(--clr-primary);
}

.hero__container {
  padding-top: 5rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.6rem;
}

.hero__title {
  font-size: 5.6rem;
  line-height: 1;
  background: linear-gradient(
    55deg,
    rgba(8, 24, 99, 1) 47%,
    rgba(87, 204, 250, 1) 50%
  );
  background-clip: text;
  color: transparent;
}

.hero__desc-wrapper {
  max-width: 40ch;
}

.hero__img--wrapper {
  max-width: 38.7rem;
  height: 47.1rem;
}

@media (min-width: 768px) {
  .hero__flex {
    justify-content: space-around;
  }

  
  .hero__content {
    align-items: flex-start;
    text-align: left;
  }
  .hero__title {
    font-size: 6.4rem;
  }

  .hero__desc-wrapper {
    font-size: 2.4rem;
  }
  
  @media (min-width: 900px) {
    .hero__img--wrapper {
      max-width: 48.5rem;
      height: 56.3rem;
    }
  }

}
