.nav {
  z-index: 1;
}

.nav__list {
  text-align: center;
  color: white;
}

.nav__list-item {
  text-transform: capitalize;
}

.nav__link {
  display: block;
  padding-block: 8px;
}

.nav__list-item:not(:last-child) {
  border-bottom: 1px solid var(--clr-primary);
}

@media (max-width: 767px) {
  .nav {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    inset: 0 0 0 40%;
    background: linear-gradient(
      45deg,
      rgba(8, 24, 99, 1) 20%,
      rgba(87, 204, 250, 1) 80%
    );
    border-radius: 10px 0 0 10px;
    translate: 100% 0;
    transition: translate 0.3s ease-in;
  }
  .nav[data-visible="true"] {
    translate: 0;
  }
  .nav__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact__list {
    margin-bottom: 2.4rem;
  }

  .contact__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    font-size: 1.6rem;
    padding-block: 1.6rem;
    color: white;
    width: 100%;
  }

  .contact__item:not(:last-child) {
    border-bottom: 1px solid var(--clr-accent);
  }
}

@media (min-width: 768px) {
  .nav {
    border-radius: 0;
    align-items: center;
    background-color: var(--clr-accent);
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav__link {
    padding-block: 0;
  }

  .nav__list-item:not(:last-child) {
    border: none;
  }

  .nav__link {
    display: inline-block;
    padding: 2.4rem 1.4rem;
    transition: 0.3s all;
  }

  .nav__link:hover {
    background-color: var(--clr-primary);
    color: white;
  }

  .nav__link[aria-current="page"] {
    background-color: var(--clr-primary);
  }

  .contact__list {
    display: none;
  }
}
